/* Estilo avançado para a página HTML */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Fonte moderna e limpa */
  background-color: #e8eff1; /* Cor de fundo azul muito suave */
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Faz o corpo ocupar toda a altura da viewport */
}

h1 {
  color: #2c3e50; /* Cor azul escuro para o título */
  font-size: 28px;
  margin-bottom: 20px; /* Espaço abaixo do título */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1); /* Sombra leve para texto */
}

p {
  font-size: 18px;
  color: #34495e; /* Cor de texto azul-escuro */
  border: 2px solid #2c3e50; /* Borda azul escura */
  padding: 10px 20px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2); /* Sombra de caixa */
  text-align: center;
  width: max-content; /* Largura de acordo com o conteúdo */
  margin: auto; /* Centraliza o parágrafo */
}
